SECRET_KEY='keep-the-secret-key-used-in-production-secret-123xyz'

# Host list which the application can receive HTTP requests on
ALLOWED_HOSTS=localhost,another.host

# Database configuration
DATABASE_URL=mysql://:username:S3cr3t!@localhost:3306/database_name

# Default time zone
TIME_ZONE='Europe/Rome'
USE_TZ=True

# Log
LOG_LEVEL='DEBUG'
DJANGO_LOG_LEVEL='DEBUG'

# Static resources
STATIC_URL=/statics/
STATIC_ROOT=/my/path/statics
